<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <meta name="keywords" content="IT课程,公开课,在线教育,云计算,大数据,物联网,视频教程,编程开发,交互设计,互联网营销,IT职业培训,IT职业规划,幕课论坛,MOOC,视频课程,职场进修,慕课论坛,移动云计算,创业"/>
  <meta name="description" content="开课吧是关于云计算、大数据、互联网营销、交互设计、编程语言、移动云计算等泛IT学科的在线课程，在线教育，职业培训等泛IT学科终身在线教育平台。"/>

  <title>忘记密码 - 验证</title>
  <link data-turbolinks-track="true" href="__PUBLIC__/css/application-259d88b7df3d30d7eec66f46114169d9.css" media="all" rel="stylesheet" />
  <link data-turbolinks-track="true" href="__PUBLIC__/css/user-44752681eea2af83918f1dc30a2b564c.css" media="all" rel="stylesheet" />
  <link data-turbolinks-track="true" href="__PUBLIC__/css/gaoxiaobang-da3a2db2fecddd160bc3e3c4a3a3bc38.css" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="__PUBLIC__/js/application-fb8562c33e2e6c7d207653c10215fc91.js"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="HfyB28ni5Qj/hP5e8BrOFEnWbp74KJ0mHJ2R98WyF40=" name="csrf-token" />
  <link rel="shortcut icon" href="images/favicon.ico"/>
  <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-precomposed.png">
  <!--[if lt IE 9]>
  <script src="__PUBLIC__/js/html5boilerplate-20c3bd30c07e9e58ea1042f1da27d6b7.js"></script>
<script src="__PUBLIC__/js/html5shiv.min-f7427b1968f14d148d6c973339ec8bbb.js"></script>
<script src="__PUBLIC__/js/respond.min-497dcd05a34f78a0295d8ba4cc5008df.js"></script>
  <![endif]-->
</head>
<body>
<!--<p class="notice"></p>-->
<!--<p class="alert"></p>-->

<link href="__PUBLIC__/css/find_password-75981770dbe945b3793e91bfe66975b4.css" media="screen" rel="stylesheet" />
<div class="signin-header">
  <div class="signin-container">
    <div class="pull-left">
      <a href="/users/sign_out" class="signin-logo">开课吧</a>
      <div class="text">开课吧账号</div>
    </div>
    <div class="pull-right">
      没有账号，<a href="/users/sign_up" class="color-lnk">免费注册</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="title">
    <ul class="nav nav-pill">
      <li class="finish-bj finish">确认账号</li>
      <li class="special-bj bw-bj">验证安全性</li>
      <li class="white-bj">重置密码</li>
      <li>完成</li>
    </ul>
  </div>
  <div class="verify-con ">
    <div class="verify">
      <div class="mobile disabled mobile-img" style="margin-right:30px;" id="mobile-validate-dialog"><!--未绑定时加一个"disabled mobile-img"类-->
        <a data-method="post" data-remote="true" href="javascript:void(0);" rel="nofollow">
            <div class="content">
              <h5>手机号找回</h5>
              <div class="one">
                <p class="one-img find-pwd-img find_pwd_mobile_02"></p>
                    <p>未绑定手机</p>
              </div>
            </div>
</a>      </div>
      <div class="mobile mail " id="email-validate-dialog"><!--未绑定时加一个"disabled mail-img"类-->
        <a data-method="post" data-remote="true" href="/users/password?validate_type=email" rel="nofollow">
            <div class="content">
              <h5>邮箱找回</h5>
              <div class="one">
                <p class="one-img find-pwd-img find_pwd_mail_02"></p>
                    <p>已绑定邮箱</p>
                    <p>41614*****@qq.com</p>
              </div>
            </div>
</a>      </div>
      <div class="form-group text-center">
        <a href="/users/password/new" class="link-line link-blue">返回上一步</a>
      </div>
    </div>
  </div>

  <div class="mobile-in" id="mobile-validate-div">
    <form accept-charset="UTF-8" action="/users/password/edit" id="mobileForm" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="HfyB28ni5Qj/hP5e8BrOFEnWbp74KJ0mHJ2R98WyF40=" /></div>
        <input type="hidden" name="reset_password_token" value="mobile"/>
        <h4>手机号找回密码</h4>
        <p>已经向您绑定的手机号发送短信请输入短信中的验证码</p>
        <p>

          <div class="form-group tab-mobile">
  <div class="form-group-code">
    <input autocomplete="off" class="form-control input-lg input-sm" id="captcha" name="captcha" placeholder="验证码" required="required" type="text" />
    <span class="msg-icon"></span>
    <div class="help-block">&nbsp;</div>
  </div>
  <div id="mobile_captcha"></div>
  <button type="button" class="gain btn btn-primary btn-lg btn-block" id="refresh_mobile_captcha_button">免费获取短信验证码</button>
  <button type="button" class="gain btn btn-primary btn-lg disabled" style="display: none;">60''后重新发送</button>
</div>

<script type="text/javascript">
    // 手机验证码
    function bindMobileCode(){

        var $btns = $(".tab-mobile").find("button");
        var $txtMobile = $("#user_email_or_mobile");
        var $getCodeBtn = $('#refresh_mobile_captcha_button');
        var $timerBtn = $btns.eq(1);

        $getCodeBtn.click(function(){
//            // 手机号必须验证通过，下面才有意义
//            var isPass = $txtMobile.parent().hasClass("status-success");
//            var isMobile = isNum($txtMobile.val());
//            if(!isPass || !isMobile){
//                return;
//            }

            $.post("/users/refresh_mobile_captcha");

            $(this).hide();
            startTimer($timerBtn, $getCodeBtn);
        });

        var codeTimer = null;
        // 开始倒计时
        function startTimer(timerBtn, getCodeBtn){

            $(timerBtn).show();
            var num = 60;

            clearInterval(codeTimer);
            codeTimer = setInterval(function(){
                if(num <= 1){
                    $(timerBtn).hide().html("60''后重新发送");
                    $(getCodeBtn).show();
                    clearInterval(codeTimer);
                    return;
                }
                num--;
                $(timerBtn).html(num + "''后重新发送");
            }, 1000);
        }
    }

    bindMobileCode();
</script>
        <div class="form-group ">
          <input id="loginbtn" name="loginbtn" class="btn btn-primary btn-lg btn-block" type="submit" value="下一步" ></div>
        <div class="form-group  text-center">
          <a href="javascript:void(0);" class="link-line link-blue back-to-last-step" target="_blank">返回上一步</a>
        </div>
        </p>
</form>  </div>



  <div class="mobile-in" id="email-validate-div">
    <h4>邮箱找回密码</h4>
    <p>已经向您绑定的邮箱41614*****@qq.com发送重置密码邮件，请查收。</p>
    <p>
    <div class="form-group mail-bottom">
      <a class="btn btn-primary btn-lg btn-block" href="http://mail.qq.com" target="_blank">去邮箱验证</a>
    </div>
    <div class="form-group  text-center">
      <a href="javascript:void(0);" class="link-line link-blue back-to-last-step" target="_blank">返回上一步</a>
    </div>
    </p>
    <p>
    <h5>没有收到重置密码邮件，怎么办？</h5>
    </p>
    <p>
    <ul>
      <li>请检查是否在邮箱的回收站中，或垃圾邮件中？</li>
      <li>
        重新发送，
        <a class="link-blue" data-method="post" data-remote="true" href="/users/password?validate_type=email" id="resend_email_btn" rel="nofollow">点此重新发送一封</a>
      </li>
    </ul>
    </p>
  </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#resend_email_btn').click(function(){
           $(this).text('重新发送中...');
        });
        validateForm();
    });

    // 表单验证
    function validateForm(){
        $("#mobileForm").validate({
            rules: {
                captcha: {
                    required:true,
                    rangelength:[4,6],
                    remote: { url:'/users/check_mobile_captcha_match', type:"post", dataType:"json" }
                }
            },
            messages: {
                captcha:{
                    required:"请输入验证码",
                    rangelength:"验证码输入有误",
                    remote: "验证码输入有误"
                }
            },
            // 未通过
            highlight: function(el) {
                $(el).parents(".form-group").addClass("status-error").removeClass("status-success");
            },
            // 通过
            unhighlight: function(el) {
                $(el).parents(".form-group").removeClass("status-error").addClass("status-success");
            },
            errorPlacement: function(error, el) {
                $(el).parents(".form-group").find(".help-block").empty().append(error);
            }
        });
    }


    $(function(){
//        $("#mobile-validate-dialog:not(.disabled)").click(function(){
//            $("#mobile-validate-div").show();
//            $(".verify").hide();
//        });
//        $("#email-validate-dialog:not(.disabled)").click(function(){
//            $("#email-validate-div").show();
//            $(".verify").hide();
//        });
        $('.back-to-last-step').click(function(){
            $(".verify").show();
            $(".mobile-in").hide();
            return false;
        })
    })



</script>


<!--[if lte IE 9]>
  <script src="__PUBLIC__/js/jquery.placeholder-f99209ea3cff0a13a5ec10e1e69b243f.js"></script>
<![endif]-->
<div style="display: none; line-height: 0px;">
  <footer class="footer" id="footer">
  <div class="links">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div class="logo">
            <img src="images/logo-white.png" alt="">
          </div>
        </div>
        <div class="col-xs-5">
          <div class="row">
            <div class="col-xs-3">
              <h5>关于我们</h5>
              <ul class="list-unstyled">
                <li><a href="about.html#advantage-anchor">我们的优势</a></li>
                <li><a href="about.html#news-anchor">资讯报道</a></li>
                <li><a href="about.html#joinus-anchor">加入我们</a></li>
                <li><a href="about.html#contact-anchor">联系我们</a></li>
              </ul>
            </div>
            <div class="col-xs-3">
              <h5>产品&amp;服务</h5>
              <ul class="list-unstyled">
                <li><a href="products.html#production_intro-anchor">产品介绍</a></li>
                <li><a href="products.html#institution_cooperate-anchor">校企合作</a></li>
                <li><a href="products.html#business_cooperate-anchor">商务合作</a></li>
              </ul>
            </div>
            <div class="col-xs-3">
              <h5>帮助中心</h5>
              <ul class="list-unstyled">
                <li><a href="help.html#common_question-anchor">常见问题</a></li>
                <li><a href="help.html#contact_customer-anchor">联系客服</a></li>
                <li><a href="help.html#user_agreement-anchor">服务协议</a></li>
                <li><a href="help.html#copyright_explain-anchor">隐私政策</a></li>
              </ul>
            </div>
            <div class="col-xs-3">
              <h5>优质资源</h5>
              <ul class="list-unstyled">
                <li><a href="/instructors">优秀讲师</a></li>
                <li><a href="course_list.html">全部课程</a></li>
                <li><a href="/good_resource#cooperate_platform">合作平台</a></li>
                <li><a href="/verifies">证书验证</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-4 pull-right social-media">
          <div class="row">
            <div class="col-xs-7">
              <a href="http://bbs.kaikeba.com" class="btn btn-lg btn-block btn-gflt" target="_blank">
                <span><img src="images/gflt_logo.png" alt=""></span>
                &nbsp;&nbsp;官方论坛
              </a>
              <a href="http://weibo.com/kaikeba" class="btn btn-lg btn-block btn-weibo" target="_blank">
                <span><img src="images/weibo_logo.png" alt=""></span>
                &nbsp;&nbsp;立即关注
              </a>
              <a href="http://t.qq.com/kaikeba" class="btn btn-lg btn-block btn-douban" target="_blank">
                <span><img src="images/douban_logo.png" alt=""></span>
                &nbsp;&nbsp;立即收听
              </a>
            </div>
            <div class="col-xs-5">
              <img src="images/weixin-QR-footer.png" alt="" class="weixin-QR">
              <!--<a href=""><img src="images/QQ_talk.png" alt=""></a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright text-center">
    <p>HJX版权所有&nbsp;&nbsp;&nbsp;<a href="https://tsm.miit.gov.cn/pages/Portal.aspx?uKey=ukey" target="_blank">京ICP证140465号</a>&nbsp;&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">京ICP备13032407号-1</a>&nbsp;&nbsp;&nbsp;京公网安备 11010802013162</p>
    <p>公司地址：大连&nbsp;&nbsp;邮箱：hjx@hhhhhjx.cn</p>
  </div>
</footer>
<!-- Piwik -->


<!-- Google Code for &#27880;&#20876; Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 983566162;
    var google_conversion_language = "en";
    var google_conversion_format = "2";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "wTJBCL7Q9gcQ0o6A1QM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<div style="display: none;">
  <script type="text/javascript" src="__PUBLIC__/js/conversion.js">
  </script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/983566162/?label=wTJBCL7Q9gcQ0o6A1QM&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>

  <script type="text/javascript">
      $(document).ready(function(){
          var src_url = window.location.href;
          $("[click_source]").each(function(){
              var src_ele_value = $(this).attr("click_source");
              var tag_name = $(this).prop('tagName');
              if (tag_name == 'UL') {
                  $(this).find("a").each(function (index) {
                      $(this).click(function () {
                          var des_url = $(this).attr("href");
                          _paq.push(['setCustomVariable', '1', 'user_click', src_ele_value + '||' + index + '||' + src_url + '||' + des_url, 'page']);
                          _paq.push(['trackPageView']);
                      });
                  });
              }else if (tag_name == 'A') {
                  $(this).click(function () {
                      var des_url = $(this).attr("href");
                      _paq.push(['setCustomVariable', '1', 'user_click', src_ele_value + '||' + src_url + '||' + des_url, 'page']);
                      _paq.push(['trackPageView']);
                  });
              }else if (tag_name == 'INPUT'){
                  $(this).click(function () {
                      _paq.push(['setCustomVariable', '1', 'user_click', src_ele_value + '||' + src_url, 'page']);
                      _paq.push(['trackPageView']);
                  });
              }

          })
      });
  </script>
  <script src="__PUBLIC__/js/monitorView-2.0.js"></script>
  <noscript><p><img src="http://piwik.kaikeba.com/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>

  <!--<!-- ask Li,Wenchao adn Ren,Shiqi-->-->
  <!--<script type="text/javascript" src="http://tj.ranknowcn.com/tj/t.php?site=1101"></script>-->
</div>
<!-- End Piwik Code -->


<!--[if IE 8]>
<script>
    if(!!!$.cookie('ie8-bootstrap-warning')){
        $('body').prepend('<div class="alert alert-danger alert-dismissible fade in text-center" id="ie8-bootstrap-warning" style="border-color: #d84a36; background:#d84a36;color:white;position: absolute; z-index: 9999; width: 100%;" role="alert">'
                + '<button type="button" class="close" data-dismiss="alert" aria-label="关闭" style="position: absolute; right: 10px; margin-right: 0px;"><span aria-hidden="true">×</span></button>'
                + '使用IE8及以下版本可能会对你使用网站部分功能造成影响，请使用更高版本或者chrome浏览器'
                + '</div>');
        $('#ie8-bootstrap-warning').on('closed.bs.alert', function () {
            $.cookie('ie8-bootstrap-warning', 'true');
        })
    }
</script>
<![endif]-->

<!--[if lt IE 8]>
<script>
    if(!!!$.cookie('ie8-bootstrap-warning')){
        $('body').prepend('<div class="alert alert-danger alert-dismissible fade in text-center" id="ie8-bootstrap-warning" style="border-color: #d84a36; background:#d84a36;color:white;position: absolute; z-index: 9999; width: 100%;" role="alert">'
                + '<button type="button" class="close" data-dismiss="alert" aria-label="关闭" style="position: absolute; right: 10px; width: 100px; padding-right: 10px; height: 30px; margin-right: 0px;"><span aria-hidden="true">×</span></button>'
                + '使用IE8及以下版本可能会对你使用网站部分功能造成影响，请使用更高版本或者chrome浏览器'
                + '</div>');
        $('#ie8-bootstrap-warning').on('closed.bs.alert', function () {
            $.cookie('ie8-bootstrap-warning', 'true');
        })
    }
</script>
<![endif]-->



</div>
</body>
</html>
